body {
  width: 100%;
  height: 100vw;
  background-color: #000000;
  position: absolute;
}

header {
  margin-bottom: 10px;
}

header,
header nav a {
  color: #ffffff;
}

header nav {
  padding: 1em;
}

header nav a {
  text-shadow: 1px 1px 5px hsl(0, 100%, 60%);
  font-size: 30px;
  font-weight: 400;
}

.header-img-fundo {
  background-color: #000;
  border-radius: 20px;
  box-shadow: inset 1px 1px 20px 30px #000;
  background-attachment: fixed;
  height: 500px;
}

.header-img-fundo .header-img-background {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  padding: 30px;
}

.header-img-fundo h2 {
  margin: 40px;
  font-size: 30px;
  text-shadow: 4px 2px 1px #000
}

.header-img-fundo p {
  background-color: rgba(0, 0, 0, 0.541);
  padding: 15px;
  margin: 40px;
  border-radius: 20px;
  font-size: 18px;
  width: 50%;
  text-shadow: 2px 2px 1px #000
}



#img_01 {
  background-image: url(../img/capaDoMeuEbook-transformed.jpeg);
  background-size: cover;
  background-position: center top;
}

footer,
main {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  margin: 35px 50px 0 50px;
  border-radius: 10px 0 0 0;
}

.card {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 5px;
  width: 70%;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 30%;
}

main h2 {
  margin: 30px 0 10px 0;
}

.compre-aqui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.compre-aqui img {
  width: 50%;
}

.compre-aqui a {
  background-color: purple;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid black;
  color: #ffffff;
  cursor: pointer;
}

.compre-aqui a:hover {
  background-color: rgb(161, 0, 161);
}



.sessao-ajuda h2 {
  margin: 30px 0 10px 0;
}

.sessao-ajuda p {
  margin: 20px 0;
}

footer {
  margin: 0px 50px 50px 50px;
  border-radius: 0 0 10px 0;
}

footer nav {
  display: flex;
  align-items: center;
}

footer nav i {
  font-size: 30px;
  margin: 0 20px;
}

footer a {
  color: #000000;
  font-weight: 700;
}

footer a:hover {
  color: blue;
}

nav a .bi-youtube {
  color: red;
}

nav a .bi-instagram {
  color: purple;
}

nav a .bi-tiktok {
  color: black;
}

@media screen and (max-width: 800px) {
  .header-img-fundo {
    height: auto;

  }

  .header-img-background div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-img-fundo h2 {
    font-size: 25px;
    margin: 15px;
  }

  .header-img-fundo p {
    background-color: rgba(0, 0, 0, 0.541);
    padding: 15px;
    margin: 40px;
    border-radius: 20px;
    font-size: 18px;
    width: 90%;
    text-shadow: 2px 2px 1px #000
  }

  main {
    margin: 0;
  }

  footer {
    margin: 0;
  }

  .card {
    flex-direction: column;
    width: auto;
  }

  .card div {
    padding: 5px;
    margin: 5px 0 0 5px;
  }

  .card div p {
    font-size: 16px;
    margin-top: 4px;
  }
}